body {
    margin: 0;
    padding: 40px;
    font-family: Arial;
}

.container {
    text-align: center;
}

.minutes {
    font-size: 4em;
    font-weight: bold;
    color:#ff0000;
}

.refresh button {
    margin:20px;
    padding:10px;
    text-align: center;
    cursor: pointer;
    font-size:2em;
}

.error {
    font-size:0.8em;
    color:#aaa;
    margin:20px;
}
